:root {
    background-color: #ECF5FF;
    font-size: 62.5%;

}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

body {
    background: linear-gradient( 75.9deg, rgba(156,252,248, 0.85) 11.2%, rgba(110,123,251,0.70) 91.1% );
    margin: auto;
    padding: 20px;
    height: 100%;
    max-height: 130vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {    
    font-size: 5.4rem;
    margin-bottom: 5rem;
    color: #56A5EB;
}

h1 > span {
    font-size: 2.4rem;
    font-weight: 500;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 3rem;
    font-weight: 700;
}

h3 {
    font-size: 2.8rem;
    font-weight: 500;
}

/* UTLITIES CSS */
.container {

    /* Hortionzal and Vertical centering */
    display: flex;
    justify-content: center;
    align-items: center;

    width: 78rem;
    height: 100vh;
    margin: auto;
    padding: 2rem;
}

.container > * {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* Button CSS */
.button {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;
    font-weight: 500;
    background-color: white;
    box-shadow: 0 0 20px lightgray;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.button[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}