.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(86, 165, 235, 0.25);
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 20px #eee;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transform: scale(0.98);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #56A5EB;
    color: white;
    border-radius: 5px;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: #28A745;
}

.incorrect {
    background-color: #DC3545;
}

.hide {
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
    margin: 0;
    transition: all 0.3s ease;
}

img {
    border-radius: 5px;
    margin: auto;
    width: 22vw;
    height: auto;
    max-height: 480px;
    max-width: 210px;
    margin-bottom: 3.2rem;
}

#question {
    font-weight: 700;
    font-size: 2.8rem;
}

.choice-text{
    font-weight: 500;
    font-family: sans-serif;
    font-size: 1.9rem;
}

.choice-prefix {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HUD Styling */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #56A5EB;
    margin-top: 1.5rem;
    border-radius: 10px;
}

#progressBarFull {
    height: 3.4rem;
    background-color: #56A5EB;
    width: 0%;
}